streamlit>=1.22.0
langchain-ollama>=0.0.1
langchain-community>=0.0.13
langchain-core>=0.1.7
fpdf>=1.7.2
faiss-cpu>=1.7.4
PyMuPDF>=1.22.5
python-docx>=0.8.11
spacy>=3.6.0
sentence-transformers>=2.2.2
numpy<2.0.0
watchdog>=3.0.0 